@model DFT_MVC.Data.ImageData

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ImageData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OriginalFileName" class="control-label"></label>
                <input asp-for="OriginalFileName" class="form-control" />
                <span asp-validation-for="OriginalFileName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalType" class="control-label"></label>
                <input asp-for="OriginalType" class="form-control" />
                <span asp-validation-for="OriginalType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OriginalContent" class="control-label"></label>
                <input asp-for="OriginalContent" class="form-control" />
                <span asp-validation-for="OriginalContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullscreenContent" class="control-label"></label>
                <input asp-for="FullscreenContent" class="form-control" />
                <span asp-validation-for="FullscreenContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailBigContent" class="control-label"></label>
                <input asp-for="ThumbnailBigContent" class="form-control" />
                <span asp-validation-for="ThumbnailBigContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailSmallContent" class="control-label"></label>
                <input asp-for="ThumbnailSmallContent" class="form-control" />
                <span asp-validation-for="ThumbnailSmallContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KategoriaId" class="control-label"></label>
                <select asp-for="KategoriaId" class="form-control" asp-items="ViewBag.KategoriaId"></select>
                <span asp-validation-for="KategoriaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
