@model List<string>

@foreach (var image in Model)
{
	<a href="/Images/Fullscreen/@image">
		<style>


			img {
				width: 150px;
				height: 150px;
				object-fit: cover;
				
			}

		</style>
		<div >
			<p>@image</p>
			<img src="/Images/ThumbnailSmall/@image" >

		</div>
	</a>
}