@model DFT_MVC.Models.Category

@{
	ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/w3.css">

<h1>Edytuj</h1>

<h4>Kategorie</h4>

<hr />
<form asp-action="Edit" method="post" enctype="multipart/form-data" name="edit">
	<div class="row">
		<div class="col">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

		</div>
		<div class="col">
			<div class="container w3-center">
				<label id="status"></label>
			</div>
			<div class="w3-display-container">
				<div class="w3-center">

					@if (Model.ImageOriginal != null)
					{
						<img id="output" class="w3-round-large" src="/Categories/ImageBig/@Model.Id">

					}
					else
					{
						<img id="output" class="w3-round-large" src="/images/no_image.png">
					}

				</div>
				<div class="w3-display-middle w3-large">
					<label class="btn btn-outline-light" href="#" role="button" for="file-selector" style="color:whitesmoke; font-size:large; background-color:magenta">
						Kliknij aby wybrać obraz
						<input type="file" id="file-selector" name="image" class="form-control" accept="image/png, image/jpeg" hidden="hidden" />
						<script>
							const status = document.getElementById('status');
							const output = document.getElementById('output');
							if (window.FileList && window.File && window.FileReader) {
								document.getElementById('file-selector').addEventListener('change', event => {
									output.src = '';
									status.textContent = '';
									const file = event.target.files[0];
									if (!file.type) {
										status.textContent = 'Error: The File.type property does not appear to be supported on this browser.';
										return;
									}
									if (!file.type.match('image.*')) {
										status.textContent = 'Error: The selected file does not appear to be an image.'
										return;
									}
									const reader = new FileReader();
									reader.addEventListener('load', event => {
										output.src = event.target.result;
									});
									reader.readAsDataURL(file);
								});
							}
						</script>
					</label>
				</div>

			</div>



		</div>
	</div>
	
	<div class="container" style="padding-top:10px">

		<div class="align-left">
			<input type="submit" value="Zapisz" class="btn btn-primary btn-standard"/>
		</div>
		<div class="align-right">
			<a class="btn btn-danger btn-standard" asp-action="Index">Wróć</a>
		</div>
	</div>
</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");

	}
	}
