html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
div.image::before {
    content: url(https://a.allegroimg.com/s1024/0c41d9/2f5916ad479f909b56fb3b9ea585);
}

img {
    width: 100px;
    height: 60px;
    object-fit: cover;
}

td {
    height: 70px;
    vertical-align:middle;
}

.rightAligment{
    text-align: right;
}
.container {
    width: auto;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}